body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F7F7F7;
}
*{
    font-family: Nunito, sans-serif;
}

[key=link-inicial]{
    font-size: 12px;
    text-decoration: none;
    transition: color 300ms;
}
a{
    cursor: pointer;
}
.containerInicial{
    display: flex;
    width: 99%;
    height: 107px;
    background-color: #F7F7F7;
    margin: 5px;

}
.logo_principal{
    margin:45px 20px 10px 15px;
}

.container_de_busca{
    width: 60%;
    
}

.container_de_busca input{
    width: 90%;
    height: 45px;
    border-radius: 2px;
    border: 0.5px solid rgb(144, 144, 144);
    border-right:none;
    padding: 9px;
}
.buscaTotal{
    margin-top: 15px;
}
.buscar{
    height: 45px;
    border: 1px solid rgb(144, 144, 144) ;
    border-left: none;
    background-color: white;
    position: relative;
    left: -11px;
    width: 40px;
    top: 2px;
    border-radius: 2px;
}

.plus{
    width: 300px;
}
.links_laterais a {
    display: inline;
}
.links_laterais{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.lembretes [key=link-inicial]{
    margin-right: 20px;
}
[key=link-inicial]:hover{
    color: rgba(0, 0, 255, 0.5);
}

.login {
    display: flex;
    margin-top: 21px;
    margin-left: 0%;
    cursor: pointer;
}
.login p{
    margin-top:0;
    margin-bottom: 10px;
    font-size: 13px;
    color: blue;
}
.carrinho{
    position: relative;
    right: 40px;
    top: 36px;
    
}
.carra_de_opcoes{
    width: 99%;
    background-color: #0033C6;
    padding: 13.46px;
    display: flex;
    justify-content: space-between;
}
.carra_de_opcoes a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 8px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}
.barrinha_vermenha{
    width: 100%;
    height: 4px;
    background-color: #E71A3B;
}
.barraTres{
    width: 100%;
    padding: 10px;
}

.barraTres{
    background-color: #F7F7F7;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.barraTres a{
    text-decoration: none;
    margin: 0 15px;
    font-size: 13px;
}


.fized{
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    height: 160px;
    position: absolute;
    top: 90px;
    left: 75%;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    transition: opacity 1s;
}
.fized a{
    text-decoration: none;
    color: rgb(87, 87, 87);

}
.fized p:nth-child(1){
    color: blue;
}
.fized div{
    border: 0.1px solid  rgb(87, 87, 87);
}
.display{
    display: none;
    
}
.container_do_produto{
    display: flex;
    background-color: #FFFFFF;
}
.fotos_e_videos{
    margin: 50px;
    width: 60px;
    height: 400px;
    background-color:white;
}

.fotoPrincipal{
    margin: 50px;
}
.cartaoCasasBahia{
    padding: 1px;
    display: inline-block;
    font-size: 9px;
    font-weight: 900;
    background-color: rgb(146, 8, 158);
    color: white;
    border-radius: 10px;
    width: 150px;
    
    text-align: center;
}
h3{
    font-weight: 500;
    color: rgb(87, 87, 87);
}
.brilhoBaixo{
    position: absolute;
    width: 100%;
    background-color: #b2b2b267;
    height: calc(100% - 150px);
    top: 190px;
    display: none;
}
.botoes{
    position: absolute;
    left: 1000px;
    
}
.botoes button{
    width: 200px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    color: white;
    transition: background-color 300ms;
}

#comprar{
    background-color: #51A559;
}
#retirada{
    background-color: #0033C6;
}
#retirada:hover{
    background-color: #001F60;
}
#comprar:hover{
    background-color: #1C7E2E;
}
.preco{
    color: #0033D1;
}

.infomacoes p{
    display: inline;
    font-size: 13px;
    color: rgb(98, 98, 98);
}
.parcelamento{
    font-size: 14px;
    display: block;
    color: #1F4CCD;
    cursor: pointer;
}
.parcelamento:hover{
    color: #97CAEB;
}
.tableDeParcelamento{
    width: 430px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 12%;
    left: 33%;
    padding: 0%;
    border: 1px solid white;
    border-radius: 1px;
}
#titulo{
    background-color: #0033D1;
    color: white;
    padding: 15px;
}
#titulo h3{
    display: inline-block;
}
#titulo button{
    background-color: #0033D1;
    border: none;
    color: white;
    position: absolute;
    right: 20px;
    top: 30px;
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
}

#parcela{
    display: grid;
    grid: auto auto/ auto auto;
    justify-content: space-between;
    text-align: end;
    padding: 20px;
}
#parcela div{
    margin: 10px;
    color: rgb(87,87,87);
}

h5{
    color: #0033D1;
    margin-left: 130px;
    font-size: 20px;
}
.botoes{

}

@media only screen and (max-width: 1020px){
    .lembretes, .plus, .login, .links_laterais, .carrinho{
        display: none;
    }
    .buscaTotal input{
        width: 90%;
    }
    .carra_de_opcoes {
        display: none;
    }
    .barraTres{
        display: none;
    }
    .fotos_e_videos{
        display: inline-block;
    }

    .fotoPrincipal{
        display: inline-block;
    }

    .container_do_produto{
        display: inline;
    }
    .botoes{
        position: static;
    }
    body{
        text-align: center;
    }
    .tableDeParcelamento{
       width: 60%; 
       height: 140%;
    }
    .parcela{
        width: 100%;
        height: 100%;

    }
    .parcela h5{
        margin: auto;
    }
}

@media only screen and (max-width: 770px) {
    .buscaTotal input {
        display: none;
    }
    .buscaTotal button {
        display: none;
    }
    .fotos_e_videos{
        display: none;
}
}
